.panel {
  background: white;
  padding: $space;
  margin: auto;
  max-width: 50%;
}

.input-group {
  display: flex;
  flex-direction: column-reverse;
  & input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: $space-s;
    padding: $space-s;
    border: none;
    border-bottom: 1.5px solid $light-grey;
    &:focus {
      outline: none;
      border-bottom: 1.5px solid $purple;
      color: $purple;
    }
    &:focus + label {
      color: $purple;
    }
    &::after {
      width: 100%;
      height: 10px;
      background: red;
    }
  }
  & select {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: $space-s;
    padding: $space-s;
    border: none;
    border: 1.5px solid $light-grey;
    &:focus {
      outline: none;
      border: 1.5px solid $purple;
    }
  }
}
input[type="submit"] {
  width: 25%;
  float: right;
  background-color: $purple;
  color: white;
  border-radius: 0;
  padding: $space-s;
  text-transform: uppercase;
  border: none;
  outline: none;
  &:hover {
    @include hover;
    color: white;
    text-decoration: none;
  }
}
label {
  text-transform: initial;
  margin-top: $space;
  color: $grey;
  margin-bottom: $space-s;
}

.nav-list {
  width: 92.5%;
  max-width: 30em;
  text-align: center;
  margin: auto;
  li {
    list-style: none;
    display: inline-block;
    background: rgba(256, 256, 256, 0.5);
    padding: 0.7em;
    margin: 0 0.1em;
  }
  li.active {
    background-color: rgba(256, 256, 256, 0.95);
  }
}
